<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">TravelBuddy</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<ul class="nav navbar-nav">
			<li role="presentation" class="active"><a href="#">Home</a></li>
			<li role="presentation"><a href="#">Events</a></li>
			<li role="presentation"><a href="#">Invitations</a></li>
			<li role="presentation"><a href="#">Past Events</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>
				<% if admin_signed_in? %>
					<li><%= link_to 'Logout', destroy_admin_session_path, method: :delete%></li>
					<li><%= link_to current_admin.email %></li>
				<% else%>
					<li><%= link_to 'Sign In', new_admin_session_path %></li>
					<li><%= link_to 'Sign Up', new_admin_registration_path %></li>
				<% end %>
			</li>
		</ul>
	</div><!-- /.container-fluid -->
</nav>