// Place all the styles related to the TravelEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-padding
	padding-top: 5px
	padding-bottom: 5px


.div_content
	width: 610px
	margin-left: auto
	margin-right: auto

.div_content label
	width: 200px


.div_content input[type='text']
	width: 400px

.div_content input[type='number']
	width: 400px


.div_content h3
	color: green
	text-align: center

.search-bar
	box-shadow: 0 1px 7px 0 #2c5252
	padding-top: 15px
	padding-bottom: 15px

.card
	margin-top: 15px
	position: relative
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	background-color: #fff
	border: 1px solid rgba(0,0,0,.125)
	border-radius: .25rem

.card-header
	padding: .75rem 1.25rem
	margin-bottom: 0
	background-color: #f7f7f9
	border-bottom: 1px solid rgba(0,0,0,.125)

.card-block
	-webkit-box-flex: 1
	-webkit-flex: 1 1 auto
	-ms-flex: 1 1 auto
	flex: 1 1 auto
	padding: 1.25rem

.text-muted
	color: #636c72 !important

.card-footer
	padding: .75rem 1.25rem
	background-color: #f7f7f9
	border-top: 1px solid rgba(0,0,0,.125)

.ml5
	margin-left: 5px
	
.inner
	padding: 1em
	background-color: white
	overflow: hidden
	position: relative
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px


.rating 
	float: left
	width: 45%
	margin-right: 5%
	text-align: center


.rating-num 
	color: #333333
	font-size: 72px
	font-weight: 100
	line-height: 1em


.rating-stars 
	font-size: 20px
	color: #E3E3E3
	margin-bottom: .5em

.rating-stars .active 
	color: #737373


.rating-users 
	font-size: 14px


.histo 
	float: left
	width: 50%
	font-size: 13px


.histo-star 
	float: left
	padding: 3px



.histo-rate 
	width: 100%
	display: block
	clear: both


.bar-block 
	margin-left: 5px
	color: black
	display: block
	float: left
	width: 75%
	position: relative


.bar 
	padding: 4px
	display: block


#bar-five 
	width: 0
	background-color: #9FC05A


#bar-four 
	width: 0
	background-color: #ADD633


#bar-three 
	width: 0
	background-color: #FFD834


#bar-two 
	width: 0
	background-color: #FFB234


#bar-one 
	width: 0
	background-color: #FF8B5A

.digg_pagination
	background: white
	cursor: default
	a, span, em
		padding: 0.2em 0.5em
		display: block
		float: left
		margin-right: 1px
	.disabled
		color: #999999
		border: 1px solid #dddddd
	.current
		font-style: normal
		font-weight: bold
		background: #2e6ab1
		color: white
		border: 1px solid #2e6ab1
	a
		text-decoration: none
		color: #105cb6
		border: 1px solid #9aafe5
		&:hover, &:focus
			color: #000033
			border-color: #000033
	.page_info
		background: #2e6ab1
		color: white
		padding: 0.4em 0.6em
		width: 22em
		margin-bottom: 0.3em
		text-align: center
		b
			color: #000033
			background: #2e6ab1 + 60
			padding: 0.1em 0.25em
	/* self-clearing method:
	&:after
		content: "."
		display: block
		height: 0
		clear: both
		visibility: hidden
	* html &
		height: 1%
	*:first-child+html &
		overflow: hidden

.apple_pagination
	background: #f1f1f1
	border: 1px solid #e5e5e5
	text-align: center
	padding: 1em
	cursor: default
	a, span
		padding: 0.2em 0.3em
	.disabled
		color: #aaaaaa
	.current
		font-style: normal
		font-weight: bold
		background-color: darken(#f1f1f1, 20)
		display: inline-block
		width: 1.4em
		height: 1.4em
		line-height: 1.5
		-moz-border-radius: 1em
		-webkit-border-radius: 1em
		border-radius: 1em
		text-shadow: rgba(white, .8) 1px 1px 1px
	a
		text-decoration: none
		color: black
		&:hover, &:focus
			text-decoration: underline

.flickr_pagination
	text-align: center
	padding: 0.3em
	cursor: default
	a, span, em
		padding: 0.2em 0.5em
	.disabled
		color: #aaaaaa
	.current
		font-style: normal
		font-weight: bold
		color: #ff0084
	a
		border: 1px solid #dddddd
		color: #0063dc
		text-decoration: none
		&:hover, &:focus
			border-color: #003366
			background: #0063dc
			color: white
	.page_info
		color: #aaaaaa
		padding-top: 0.8em
	.previous_page, .next_page
		border-width: 2px
	.previous_page
		margin-right: 1em
	.next_page
		margin-left: 1em

ul.nav.nav-tabs.nav-justified.custom-nav-tab
	margin: 0

.nav-tabs.nav-justified.custom-nav-tab > li > a
	border: 0 !important
	border-radius: 0 !important

.nav-tabs.nav-justified.custom-nav-tab > .active > a
	border-bottom: 4px solid #4abef7 !important

.pt10
	padding-top: 10px