// Place all the styles related to the TravelEvents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row-padding
	padding-top: 5px
	padding-bottom: 5px


.div_content
	width: 610px
	margin-left: auto
	margin-right: auto

.div_content label
	width: 200px


.div_content input[type='text']
	width: 400px

.div_content input[type='number']
	width: 400px


.div_content h3
	color: green
	text-align: center

.search-bar
	box-shadow: 0 1px 7px 0 #2c5252
	padding-top: 15px
	padding-bottom: 15px

.card
	margin-top: 15px
	position: relative
	display: -webkit-box
	display: -webkit-flex
	display: -ms-flexbox
	display: flex
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-webkit-flex-direction: column
	-ms-flex-direction: column
	flex-direction: column
	background-color: #fff
	border: 1px solid rgba(0,0,0,.125)
	border-radius: .25rem

.card-header
	padding: .75rem 1.25rem
	margin-bottom: 0
	background-color: #f7f7f9
	border-bottom: 1px solid rgba(0,0,0,.125)

.card-block
	-webkit-box-flex: 1
	-webkit-flex: 1 1 auto
	-ms-flex: 1 1 auto
	flex: 1 1 auto
	padding: 1.25rem

.text-muted
	color: #636c72 !important

.card-footer
	padding: .75rem 1.25rem
	background-color: #f7f7f9
	border-top: 1px solid rgba(0,0,0,.125)

.ml5
	margin-left: 5px
	
.inner
	padding: 1em
	background-color: white
	overflow: hidden
	position: relative
	-webkit-border-radius: 4px
	-moz-border-radius: 4px
	border-radius: 4px


.rating 
	float: left
	width: 45%
	margin-right: 5%
	text-align: center


.rating-num 
	color: #333333
	font-size: 72px
	font-weight: 100
	line-height: 1em


.rating-stars 
	font-size: 20px
	color: #E3E3E3
	margin-bottom: .5em

.rating-stars .active 
	color: #737373


.rating-users 
	font-size: 14px


.histo 
	float: left
	width: 50%
	font-size: 13px


.histo-star 
	float: left
	padding: 3px



.histo-rate 
	width: 100%
	display: block
	clear: both


.bar-block 
	margin-left: 5px
	color: black
	display: block
	float: left
	width: 75%
	position: relative


.bar 
	padding: 4px
	display: block


#bar-five 
	width: 0
	background-color: #9FC05A


#bar-four 
	width: 0
	background-color: #ADD633


#bar-three 
	width: 0
	background-color: #FFD834


#bar-two 
	width: 0
	background-color: #FFB234


#bar-one 
	width: 0
	background-color: #FF8B5A

